aiofiles==0.6.0
celery==4.4.7
flower==0.9.7
Jinja2==2.11.3
pytest==6.2.4
redis==3.5.3
requests==2.25.1
passlib
sqlalchemy
httpx
asyncio
pydantic
python-dotenv
psycopg2-binary
asyncpg
uvicorn==0.15.0
fastapi==0.68.1
sqlmodel
uvicorn==0.15.0
alembic==1.7.1
databases
databases[postgresql]
asyncpg
aiohttp