fastapi==0.68.1
uvicorn==0.15.0
fastapi==0.68.1
psycopg2-binary==2.9.1
sqlmodel==0.0.4
uvicorn==0.15.0
alembic==1.7.1
databases
databases[postgresql]
asyncpg


aiofiles==0.6.0
flower==0.9.7
Jinja2==2.11.3
pytest==6.2.4
redis==3.5.3
requests==2.25.1
passlib
sqlalchemy
httpx
asyncio
pydantic
python-dotenv
databases
sqlmodel
pydantic[email]